

<footer class="footer-12" style="background: #000;">
    <div class="container" style="font-size: 43px;">
        Made with <span class="fui-heart" style="font-size: 37px;"></span> in Lagos, Nigeria
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="social">
                    <div class="footer_twitter">
                        <a href="http://twitter.com/hurlatunde" target="_blank">
                            <i class="fa fa-twitter"></i> Follow <span>@hurlatunde</span>
                        </a>
                    </div>
                    <div class="behance">
                        <a href="https://www.behance.net/hurladominic" target="_blank">
                            <i class="fa fa-behance"></i> Follow <span>@hurladominic</span>
                        </a>
                    </div>
                    <div class="git">
                        <a href="http://github.com/hurlatunde" target="_blank">
                            <i class="fa fa-github"></i> Follow <span>@hurlatunde</span>
                        </a>
                    </div>
                    <div class="instagram">
                        <a href="http://instagram.com/hurlatunde" target="_blank">
                            <i class="fa fa-instagram"></i> Follow <span>@hurlatunde</span>
                        </a>
                    </div>
                    <!--<div class="dribbble">-->
                        <!--<a href="https://dribbble.com/hurlatunde" target="_blank">-->
                            <!--<i class="fa fa-dribbble"></i> Follow <span>@hurlatunde</span>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="hide">{{ site.owner.name }} &copy; {{ site.time | date: '%Y' }}</div>
    </div>
</footer>
