<style>
    .mcontent .header-14-sub .hero-unit {
        display: table;
        border-collapse: collapse;
        padding: 0;
        margin: 0 auto;
        background: transparent;
        color: white;
    }

    .mcontent .header-14-sub .hero-unit h1 {
        margin: 0;
        font-size: 46px;
        font-weight: normal;
        color: #ffffff;
        font-weight: 500;
    }

    .mcontent .header-14-sub .hero-unit > * {
        display: table-cell;
        vertical-align: middle;
        border: 8px solid #fff;
        padding: 25px 30px;
        text-align: left;
    }

    .mcontent .header-14-sub h3 {
        margin: 26px 0 30px;
        font-size: 29px;
    }

    .mcontent .header-14-sub {
        color: #bdc3c7;
        background-color: #1c201d;
        position: relative;
        padding-top: 52px;
        padding-bottom: 52px;
        text-align: center;
    }

    .hero-unit h1 {
        text-transform: capitalize;
    }
</style>

<section class="blog-1 main_bg">
    <div id="b1-pt-1" class="page-transitions pt-perspective pt-item-1 pt-first" style="height: 222px;background: rgba(51, 51, 51, 0.57);">
        <div class="pt-page pt-page-1 bg-midnight-blue pt-page-current" >
            <div class="container">
                <div class="hero-unit">
                    <h1> {{ page.title }} </h1>
                    <p style="font-size: 15px;margin-top: 10px;"> We’re making something interesting, creative amazing
                        and awesome products amazing </p>
                </div>
            </div>
        </div>
    </div>
</section>
