---
layout: default
title: Blog
sub_title: I'm not just a boring developer, I like writing as well.
permalink: /blog/
---

<style>
    body {
        padding-top: 0px ! important;
        position: relative;
    }

    .post-image-feature {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 10px;
        position: relative;
    }

    .post-image-feature img {
        position: absolute;
        margin: auto;
        min-height: 100%;
        min-width: 100%;

        /* For the following settings we set 100%, but it can be higher if needed
        See the answer's update */
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
    }
</style>


<div>
    {% include header.html %}

    <section class="blog-2 blog-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">

                    <div>
                        {% for post in site.posts %}
                        <div>
                            {% if post.image.feature %}
                            <div class="hide post-image-feature">
                                <img src=
                                             {% if post.image.feature contains 'http' %}
                                "{{ post.image.feature }}"
                                {% else %}
                                "{{ site.url }}/img/{{ post.image.feature }}"
                                {% endif %}
                                alt="{{ post.title }} feature image">

                                {% if post.image.credit %}
                                <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{
                                    post.image.credit }}</a></span>
                                {% endif %}
                            </div><!-- /.image-wrap -->
                            {% endif %}
                            <div>
                                <h3 style="font-size: 25px;font-weight: 700;margin: 0 0 30px">
                                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title
                                        }}</a>
                                </h3>
                            </div>
                            <div class="promo" style="    margin: -20px 0 27px;">
                                <p style="margin-bottom: 20px;line-height: 23px;font-size: 18px;"> {{ post.excerpt }} </p>
                                <h4 style="font-weight: 400;font-size: 15px;color: #bdc3c7;">{{ post.date | date: "%b
                                    %-d, %Y" | upcase }}</h4>
                            </div>
                            <div>

                            </div>
                            <!--<hr>-->
                            <p class="hide">
                                <button class="btn btn-inverse">Learn more</button>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-2">
                    <!--<div class="related-articles">-->
                        <!--<h6>Related Articles</h6>-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<a href="#">We have considered your needs in developing</a>-->
                                <!--<div>Jan 13</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Some interesting thoughts</a>-->
                                <!--<div>Jan 13</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Flat UI in Web Design. Best examples today</a>-->
                                <!--<div>Jan 13</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">We have considered your needs in developing</a>-->
                                <!--<div>Jan 13</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>


    {% include footer.html %}
</div>
